build/
DerivedData/
Debug/
Release/
*.pbxuser
*.perspective
*.perspectivev3
*.pbxbtree
*.mode1v3
*.mode2v3
xcuserdata
*.psd
.svn/
*.suo
*.vcxproj.user
*.odt
Delivery/
_UpgradeReport_Files
.DS_Store
Materials/
*.command
*.pl